<div>
  <h2>Accounts Page</h2>

  <div ng-repeat="name in names">
    <p>The account holder is {{name}}</p>
  </div>

  <input type="text" placeholder="Search Transactions Here" ng-model="filterText">

  <div ng-repeat="account in accounts | orderBy:'+accountId'">
    <b>{{account.firstName}} {{account.lastName}}</b>
    <div ng-repeat="transaction in account.transactions | orderBy:'+location' | filter:filterText | filterList">
      {{transaction.amount | currency}} @ {{transaction.location}}
    </div>
  </div>
</div>
